.ant-slider {
  width: 500px;
  margin: 50px;
}

.ant-slider-handle {
  display: none !important;
}

.ant-slider-dot {
  border-radius: 0 !important;
  height: 13px !important;
  width: 13px !important;
  border: solid 2px #1a1a1a !important;
  top: -5px !important;
}

.ant-slider-mark-text {
  margin-top: 12px !important;
  font-size: 0.8rem !important;
  color: #757575 !important;
}

.ant-slider-dot-active {
  background: #ffea2a !important;
  height: 18px !important;
  width: 18px !important;
  top: -7px !important;
}

.ant-slider-mark-text-active {
  font-family: "National 2 Web Bold";
  color: #1a1a1a !important;
}

@media only screen and (max-width: 768px) {
  .ant-slider {
    width: 350px;
  }
  .ant-slider-mark-text {
    font-size: 0.7rem !important;
  }
}

@media only screen and (max-width: 480px) {
  .ant-slider {
    width: 315px;
  }
}

@media only screen and (max-width: 320px) {
  .ant-slider {
    width: 250px;
  }
  .ant-slider-mark-text {
    font-size: 0.55rem !important;
  }
}
